<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', { subHeading: user.name + "'s Profile" }) %>

  <main>
    <p>Name:   <%= user.name %></p>
    <p>Handle: <%= user.handle %></p>
    <p><a href="/users">Back to the user list.</a></p>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
